# Git
.git
.gitignore

# Dependencies
/vendor/
/node_modules/

# Environment
.env
.env.backup

# Storage (exclude logs/cache but keep uploads/public storage)
storage/
!/storage/app/
!/storage/app/public/
/storage/framework/
/storage/logs/

# Ignore Hot Reload (dev only)
public/hot

# Keep public folder and Vite output
!/public/
!/public/build/
!/public/index.php

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db
