# Git
.git
.gitignore

# Dependencies
/vendor/
/node_modules/

# Environment
.env
.env.backup

# Storage & Public Artefacts
/storage/
!/storage/app/
!/storage/app/public/
!/public/
!/public/build/
!/public/index.php
/public/hot

# IDE & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
